@use "../global/definition" as *;

.p-users__users {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 0;

    @include mq('sp') {
        padding-left: 14px;
        padding-right: 14px;
    }

}

.p-users__user {
    width: calc(25% - 40px * 3 / 4);

    @include mq('pc') {
        &:not(:nth-child(4n + 1)) {
            margin-left: 40px;
        }
    
        &:nth-child(n + 5) {
            margin-top: 50px;
        }
    }



    @include mq('tab') {

        &:not(:nth-child(4n + 1)) {
            margin-left: 40px;
        }
    
        &:nth-child(n + 5) {
            margin-top: 50px;
        }
    }

    @include mq('sp') {
        width: calc(25% - 10px * 3 / 4);

        &:not(:nth-child(4n + 1)) {
            margin-left: 10px;
        }
    
        &:nth-child(n + 5) {
            margin-top: 10px;
        }
    }
}